<div class="container _min-vh-100 _d-flex _align-items-center justify-content-center mb-4 py-4"
    style="margin-top: 76px;">

    <div class="card">
        <div class="card-header">
            Gestión de Categorías
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            <td>
                                <span [class.badge]="true" [class.bg-success]="category.isActive"
                                    [class.bg-danger]="!category.isActive">
                                    {{ category.isActive ? 'Activo' : 'Inactivo' }}
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary btn-sm">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>